html,
body {
  background-color: #ffeead;
  height: 100vh;
  margin: 10px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 3px solid green;
}

.App > section {
  background-color: rosybrown;
  min-height: 100vh;
  flex: 1;
  border: 3px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  display: none;
}
nav{
  height: 100vh;
}
ul {
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 600px) {
  .App {
    flex-direction: column;
    align-items: stretch;
  }
  .heading {
    display: inline-block;
  }
  ul {
    flex-direction: row;
  }
  img {
    display: none;
  }
  nav{
    height: 0%;
  }
}
